@import "~bootstrap/scss/bootstrap.scss";

// *{
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
// }

.main{
    display: flex;
    background-color: black;
    padding-top: 40px;  //deja el margen superior entre negro & blanco
    padding-bottom: 600px;  //deja el margen superior entre negro & blanco
    // background-size: cover;
}

.secundario {
    display: block;
    background-color: #eee3e3;
    width: 750px;
    height: 750px;
    margin-left: auto;
    margin-right: auto;
    // margin-bottom: 50px;
    border-radius: 20px;
    // margin-top: 20px;
}

.listadoVacio {
    display: block;
}

.titulo {
    font-family: Cochin;
    font-size: 80px;
    color: rgb(231, 179, 179);
    text-align: center;
}

.listadoVacio{
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 10px;
    flex-direction: column;
}

input {
//   border: 0.5px  #555;
//   width: 100%;
//   background-image: <i class="fas fa-clipboard-list"></i>; //para agregar la imagen en el text box
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    border-color: rgba(252, 239, 239, 0.486);
    background-color: white;
    outline: none;
       
}

.listadoIniciado{
    color: rgb(238, 152, 152);
    font-size: medium;
    font-family: Geneva;
    padding-left: 80px;
}

::placeholder {
    color: rgb(238, 195, 195);
      
}

[placeholder]:focus::-webkit-input-placeholder {
  color: transparent;
}

.button {
    text-decoration: none;
    border-style: none;
    cursor: pointer;
    float:right
    
        
}

.button:hover {
  background-color: grey; 
  color: white;
}